<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="QLSINHVIEN4Entities" connectionString="metadata=res://*/QLSinhVien.csdl|res://*/QLSinhVien.ssdl|res://*/QLSinhVien.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLSINHVIEN4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cnnString" connectionString="Data Source=.;Initial Catalog=QLSINHVIEN4;Integrated Security=True"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>